{% extends 'base.html.twig' %}

{% block title %}Edit Member{% endblock %}

{% block main %}
    <h1>Edit Member</h1>

    {{ include('member/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('member/_delete_form.html.twig') }}

    <div class="p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-info mt-auto" href="{{ path('app_member_index') }}">Back to list</a></div>
    </div>
{% endblock %}
