<ul>
    {% for shoe in field.value %}
    {%- set url = ea_url()
    .setController('App\\Controller\\Admin\\ShoeCrudController')
    .setAction('detail')
    .setEntityId(shoe.id)
    -%}
    <li>
        <a href="{{ url }}">
            {{ shoe }}
        </a>
    </li>
    {% else %}
</ul>
<span class="badge badge-secondary">None</span>
<ul>
    {% endfor %}
</ul>